*.log
*.lck
woodburry
woodburry_the_end
plugins/GroupManager/backup
plugins/GroupManager/worlds
plugins/Essentials/userdata
.DS_Store

banned-ips.txt

banned-ips.txt

banned-players.txt

banned-players.txt

ops.txt

ops.txt
