# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Tue May 28 20:48:43 PDT 2013
allowDebugOutput=true
allowUpdateCheck=true
checksum=1wk
